/* ------- Custom Font ----- */

@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./font/Aeonik-Regular.ttf);
}

/* ------- CSS Boiler Plate Code ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* ------- Container main ----- */

.main {
  height: 100%;
  width: 100%;
}

/* ------- canvas ----- */

#canvas {
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  position: relative;
}

/* ------- Layout Panel ----- */

#layout {
  height: 43%;
  width: 15%;
  position: absolute;
  right: 2%;
  top: 5%;
  background-color: #2c2c2c;
  border: 1px solid #ffffff12;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(30, 30, 30, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#layout h2 {
  font-size: 25px;
  font-weight: 300;
}

/* ------- No Element Selected ----- */

#no-selection {
  color: #888;
  font-size: 14px;
  text-align: start;
}

/* ------- Element Selected ----- */

#layout #common-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
}

/* ------- Rectangle Element Selected ----- */

#rect-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
}

#rect-color {
  background-color: transparent;
}

input {
  width: 100px;
  background-color: transparent;
  border: none;
  outline: none;
}

/* ------- Text Element Selected ----- */

#text-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
}

/* ------- For toggle down according to element selected ----- */

.hidden{
    display: none !important; 
}

/* ------- Layers Panel ----- */

#layers {
  height: 43%;
  width: 15%;
  position: absolute;
  right: 2%;
  bottom: 5%;
  background-color: #2c2c2c;
  border: 1px solid #ffffff12;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(30, 30, 30, 0.5);
}

#layers h2 {
  font-size: 25px;
  font-weight: 300;
}

/* ------- Theme Changing ----- */

#theme {
  position: absolute;
  top: 5%;
  left: 2%;
  height: 40px;
  width: 120px;
  background-color: #2c2c2c;
  border: none;
  border-radius: 10px;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(30, 30, 30, 0.5);
}

#theme:active {
  scale: 0.97;
}

/* ------- Toolbar for adding Elements ----- */

#toolbar {
  height: 60px;
  width: 250px;
  background-color: #2c2c2c;
  position: absolute;
  left: 2%;
  bottom: 5%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(30, 30, 30, 0.5);
  display: flex;
  gap: 10px;
  padding: 10px;
}

.toolbar-btn {
  height: 100%;
  width: 25%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: all ease 0.2s;
}

.toolbar-btn:active {
  scale: 0.98;
}

.toolbar-btn .rect {
  height: 100%;
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
}

.toolbar-btn .text {
  height: 100%;
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
}

.toolbar-btn h2 {
  color: white;
  font-weight: 100;
}

.toolbar-btn:hover {
  background-color: #1e1e1e;
  box-shadow: 5px 5px 10px rgba(30, 30, 30, 0.5);
}

.editor-element {
  position: absolute;
  box-sizing: border-box;
}

.editor-element.rectangle{
  background-color: #D9D9D9;
}

.editor-element.text {
  background-color: transparent;
  border: 1px dashed transparent;
  padding: 4px;
  cursor: text;
}

.editor-element.selected {
  outline: 2px solid #4da3ff;
}

.editor-element.text.selected {
  outline: 1px solid #4a90e2;
}

.element.text:focus {
  outline: none;
}


